#map {
	height: 95vh;
	cursor: pointer;
	width: 100%;
}

.info {
    color:#555;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-radius: 10px;
}
.info h4 {
    margin: 0 0 5px;
    color: #000;
}
.info rank {
    color: #f00;
    font-style:italic;
}
body {
  margin: 0;
}

#frm-geocode {
    position: absolute;
    top: 10px;
    left: 40px;
    background: white;
    padding: 5px;
    float: left;
    border: 2px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
#frm-geocode label {
    float: left;
    clear: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
}
#frm-geocode .inputs {
    float: left;
    clear: left;
    padding-top: 3px;
}
#frm-geocode input {
    float: left;
}

#milos {
    color: #b2182b;
}

#karel {
    color: #2166ac;
}
